 
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-color: #f2f2f2;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.content {
    margin-top: 20px;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
}

 

/* Responsive styles */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

    .container {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .content {
        padding: 10px;
    }
}
